// Coloeres de Fondo
$nb_default: #ffffff;
$nb_primary: #337ab7;
$nb_success: #5cb85c;
$nb_info: #5bc0de;
$nb_warning: #f0ad4e;
$nb_danger: #d9534f;
// Colores de fondo hover
$nb_default_hv: rgba(230, 230, 230, 0.8);
$nb_primary_hv: rgba(51, 122, 183, 0.8);
$nb_success_hv: rgba(76, 174, 76, 0.8);
$nb_info_hv: rgba(91, 192, 222, 0.8);
$nb_warning_hv: rgba(240, 173, 78, 0.8);
$nv_danger_hv: rgba(217, 83, 79, 0.8);
// Colores de fuente, bordes o colores secundarios
$nb_fontcolor_default: #000;
$nb_fontcolor_primary: #2e6da3;
$nb_fontcolor_success: #4cae4c;
$nb_fontcolor_info: #46b8da;
$nb_fontcolor_warning: #eea236;
$nb_fontcolor_danger: #d43f3a;