// Coloeres de Fondo
$nb_default: #ffffff;
$nb_primary: #337ab7;
$nb_success: #5cb85c;
$nb_info: #5bc0de;
$nb_warning: #f0ad4e;
$nb_danger: #d9534f;
// Colores de fuente, bordes o colores secundarios
$nb_fontcolor_default: #000;
$nb_fontcolor_primary: #2e6da3;
$nb_fontcolor_success: #4cae4c;
$nb_fontcolor_info: #46b8da;
$nb_fontcolor_warning: #eea236;
$nb_fontcolor_danger: #d43f3a;